/* ejercicio4.css   CC17116  */
agenda {
	background-color:aquamarine;
	font-size: 20px;
	display: block;
	
}
contacto {
	background-color:lightblue;
	display:block;
	margin: 15px 10% auto 10%;
	font-family: monospace;
	border-radius: 5px;
	padding: 8px;
}
nombre {
	font-weight: bold;
	display:block;
	color: black;
	text-align: center;
	font-size: 22pt;
}
telefono_fijo {
	font-weight: normal;
	display: block;
	color: black;
}

celular{
	color: black;
	display:block;
}

direccion{
	background-color: cornflowerblue;
	color: white;
	display: inline-block;
	border-radius: 3px;
	width: 48%;
	text-align: center;
}

email{
	background-color: #EBA1E7;
	color: white;
	display: inline-block;
	border-radius: 3px;
	width: 48%;
	text-align: center;
	font-style: italic;
}
